@import url("../base.css");
@import url("../header.css");
@import url("friends_side.css");
@import url("../mainContents.css");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
#icons > a:nth-child(2) {
  color: #888;
}
#friends-back {
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
#friends-popup {
  margin: 0 auto;
}
