#sidebar {
  left: 0px;
  height: 100%;
  width: 210px;
  border-right: 2px solid #ccc;
  overflow: hidden;
}
#sideTitle {
  padding: 0 10px;
  border-bottom: 2px solid #aaa;
}
#sideTitle > span {
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
}
#sideTitle > div {
  cursor: pointer;
  line-height: 52px;
  font-size: 18px;
  float: right;
}
#sideMonth {
  border-bottom: 2px solid #aaa;
  text-align: center;
  font-weight: bold;
}
#sideMonth > a {
  margin: 0 15px;
}
#sideMain {
  width: 100%;
  overflow-x: hidden;
}
#sideMain::-webkit-scrollbar {
  width: 10px;
}
#sideMain::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 100px;
}
#sideMain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#listbox {
  width: 200px;
}
.dayList {
  font-weight: bold;
  width: 180px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
}
.dayList > .card-header {
  padding: 0 15px;
}
.eventList {
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}
.eventList > li {
  padding: 0 15px;
  border-bottom: 1px solid #888;
  background-color: #3788d8;
  color: white;
}
.eventList > li:last-child {
  border-radius: 0 0 5px 5px;
}

.ui-dialog {
  width: 400px !important;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ui-dialog-titlebar {
  background-color: #fff;
  border-radius: 5px;
}
.ui-dialog ul {
  width: 220px;
  margin: 0 auto;
  background-color: #eee;
}
.ui-dialog ul > li {
  font-size: 14px;
  margin-top: 10px;
}
.ui-dialog ul > li > input:nth-child(1) {
  width: 220px;
  border-radius: 5px;
  border: 1px solid #bbb;
}
.ui-dialog ul > li > select {
  border: 1px solid #bbb;
  border-radius: 5px;
}
.ui-dialog ul > li > input:nth-child(2)[type="checkbox"] {
  position: relative;
  top: 2px;
  margin: 0 3px;
}
.ui-dialog ul > li > input:nth-child(2)[type="color"] {
  margin: 0 3px;
  height: 26px;
  width: 25px;
}
#dialog {
  padding: 5px 30px;
}
.ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-buttonset > button {
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.ui-dialog-buttonset > button:hover {
  background-color: #ddd;
}
.ui-dialog-buttonpane {
  border-radius: 5px;
}
