@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@700&display=swap');
body, div, p, ul, li {
	margin: 0;
	padding: 0;
}
ul, li{
	list-style-type: none;
}
ul {
	background: #fff;
}
body {
	background-color: #f0f2f5;
	font-family: 'Do Hyeon', sans-serif;
	overflow: hidden;
}
a:hover{
	text-decoration: none;
}
/* #main {
	position: relative;
	top: -15px;
} */
#main > div{
	float: left;
}